

.grid__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: clamp(1px, 0.5em, 7px);
    font-size: clamp(10px, calc(10px + 2vh), 28px);
    position: relative;
}