.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  flex-grow: 1;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

